<div class="contenedor-principal">
  <div class="contenedor-principal-content">
    <h2 class="text-white fs-1">Special Discount</h2>
    <p class="text-white" style="opacity: 0.75;">Earn a 10% Discount coupon by filling the form</p>
    <form #contactForm="ngForm" (ngSubmit)="submitEmail(contactForm)">
      <input
        id="email-input"
        [(ngModel)]="contactFormValues.email"
        name="email"
        type="email"
        placeholder="Email"
        required
      />
      <button type="submit">Send</button>
    </form>
  </div>
</div>
